{% extends 'scan/index.html' %}

{% block title %} Search food {% endblock %}

{% block body %}
{% load static %}


    <div class="container my-5">
    <!-- Top Info Card -->
        <div class="card mb-4 shadow rounded-4 p-4">
            <div class="row g-4">
                <div class="col-md-4">
                    {% if food.image %}
                        <img src="{{ food.image.url }}" class="img-fluid rounded-3" alt="{{ food.name }}" style="width:300px; height:auto;">
                    {% else %}
                        <p>No image available.</p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h2>{{ food.name }}</h2>
                    <p><strong>Calories:</strong> {{nutrition.energy}} cals</p>
                    <p><strong>Brand:</strong> {{ food.brand }}</p>
                    <p><strong>Category:</strong> {{ food.category }}</p>
                    <p><strong>Barcode:</strong> {{ food.barcode }}</p>
                    <p><strong>FSSAI number:</strong> {{ food.fssai_number }}</p>
                </div>
                <div class="col-md-2">
                    <a href="/scan/compare/?food1={{food.id}}"> Compare with others </a>
                </div>
            </div>
        </div>
        <div class="card mb-4 shadow rounded-4 p-4">
            <h3>Nutrition Facts</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Carbs: {{nutrition.carbohydrate}}g
                    <ul>
                      <li> Total sugar: {{nutrition.total_sugar}}g</li>
                      <li> Added Sugar: {{nutrition.added_sugar}}g</li>
                    </ul>
                </li>
                <li class="list-group-item">Protein: {{nutrition.protein}}g</li>
                <li class="list-group-item">Fat: {{nutrition.total_fat}}g
                    <ul>
                      <li> Saturated Fat: {{nutrition.saturated_fat}}g</li>
                      <li> Trans Fat: {{nutrition.trans_fat}}g</li>
                    </ul>
                </li>
                <li class="list-group-item">Fibre: {{nutrition.fibre}}g</li>
                <li class="list-group-item">Sodium: {{nutrition.sodium}}g</li>
                <li class="list-group-item">Cholesterol: {{nutrition.cholesterol}}g</li>
            </ul>
        </div>
        <div class="card mb-4 shadow rounded-4 p-4">
            <h3>Ingredients</h3>
            <ul class="list-group list-group-flush">
                {% for food_ingredient in food_ingredients %}
                <li>
                    {{food_ingredient.ingredient_rank}}
                    {{food_ingredient.ingredient.name}}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="stats">
        <div class="chart">
            <canvas id="macroChart"></canvas>
        </div>



    </div>




{% endblock %}
