{% extends 'scan/index.html' %}

{% block title %} Search food {% endblock %}

{% block body %}


    <div class="container">
            <h1>Food Search</h1>
            <form class="d-flex" role="search"  method="GET">
                <input class="form-control me-2" name="search_food" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
    </div>

    <div class="container">
        <h2>Search Results</h2>

        {% for nutritionaldetail in nutritionaldetails %}
        <div class="food-search__result row">
           <div class="food-search__result-image col-md-1">
                    {% if nutritionaldetail.food.image %}
                        <img width="48" height="48" src="{{ nutritionaldetail.food.image.url }}" class="img-fluid rounded-3" alt="{{ nutritionaldetail.food.name }}">
                    {% else %}
                        <p>No image available.</p>
                    {% endif %}
           </div>
            <div class="col-md-7" >
               <div class="food-search__result-info">
                  <p class="food-search__result-title">
                      <a href="/scan/details/{{nutritionaldetail.food.id}}">
                          <span>{{nutritionaldetail.food.name}}</span>
                      </a>
                  </p>
                  <ul class="food-search__result-consist">
                     <li><span class="text-success p-2 g-col-6">Carbs {{nutritionaldetail.carbohydrate}}g</span></li>
                     <li><span class="text-warning p-2 g-col-6">Fat {{nutritionaldetail.total_fat}}g</span></li>
                     <li><span class="text-info p-2 g-col-6">Protein {{nutritionaldetail.protein}}g</span></li>
                  </ul>
               </div>
            </div>
           <div class="food-search__result-cals col-md-1"><strong>{{nutritionaldetail.energy}}</strong>cals</div>
            <div class="food-search__result-chart col-md-3"></div>
        </div>
        {% endfor %}
    </div>




{% endblock %}

<style>
    li{
        display: inline;
    }
</style>

